/* MovieCard.css */

.custom-card-title,
.custom-card-text {
  text-decoration: none !important;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  color: red; /* Set the text color to red */
}
